.home .title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    color: black;
    background-color: white;
}

.home .subtitle{
    font-size: 1.1rem;
    color: black;
    background-color: white;
}
