.sidenav{
    background-color: #3F51B5;
    width: 200px;
}
.sidenav a{
    color: #fff;
}
.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: #fff;
}
<<<<<<< HEAD
span
{
    font-weight: bold;
    font-family: 'Lucida fax', Arial, sans-serif;
=======

span{

font-family: 'Lucida Fax', Arial, sans-serif;

>>>>>>> e7047ada851a80e54323e6fb3a819a2186c27d36
}